@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@200&display=swap');
*{
  font-family: 'RobotoMono', monospace;
  font-weight: 1;
}

body{
  display:flex;
  height:100vh;
  justify-content:center;
  align-items:center;
  text-align:center;

  color: #fff;
  background: linear-gradient(to right, rgb(76, 129, 160), rgb(41,46,73))
}